body {
	background-color: #f8f2ea;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	height: 100%;
}

header {
		background-color: #30426c;
		height: 64px;
}

.logo img {
		float: left;
		border-right-style: solid;
		border-width: 7px;
		border-color: #f8f2ea;
}

.social1, .social2, .social3, .social4 {
	float: right;
	padding: 16px 20px;
	border-left-style: solid;
	border-color: #f8f2ea;
	border-left-width: 7px;
}

.bio {
	padding: 75px 250px;
}

.hero {
	float: left;
	shape-outside: circle(50%);
	padding: 0px 45px 5px 0px;
}

h1 {
	color: #3b5185;
	font-family: 'Rammetto One', sans-serif;
	text-transform: uppercase;
	font-size: 7em;
	line-height: 0em;
}

p {
	color: #12214a;
	line-height: 2em;
}

a {
	color: #3455a4;
	font-weight: bolder;
	text-decoration: none;
}

a:hover {
	background-color: #f4dfcc;
}
